body{
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.nav{
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    margin:0% 10% 0% 10%;
    border-radius: 10px;
    letter-spacing: 4px;
}
a:hover{
    background-color:goldenrod;
    padding: 10px;
    border-radius: 2px;
}
.me{
    color: goldenrod;
    text-align: center; 
}
img{
    background-color: white;
    border-radius: 50%;
    border: 5px solid white;
}
.me #nav .media{
    background-color: white;
}
.media{
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    margin: 20% 20% 0% 20%;
    border-radius: 5px; 
}
